<ion-header>
    <ion-toolbar>
        <ion-title>
            APP
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content *ngFor='let pais of paises'>
        <ion-card-subtitle>
            <ion-list lines="none">
                <ion-list-header>
                    <!--<img [src]="pais.flag" [title]="pais.name">
                    <ion-label>Resources</ion-label> -->
                </ion-list-header>

                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> ID {{ pais.id }} </ion-label>
                </ion-item>

                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> NOMBRE : {{ pais.nombre }} </ion-label>
                </ion-item>

                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> EDAD : {{ pais.edad }} </ion-label>
                </ion-item>

                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> GENERO : {{ pais.genero }} </ion-label>
                </ion-item>
                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> EMAIL : {{ pais.email }} </ion-label>
                </ion-item>
                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> LOCALIDAD : {{ pais.localidad }} </ion-label>
                </ion-item>
                <ion-item href="">
                    <ion-icon slot="start" color="medium" name="book"></ion-icon>
                    <ion-label> TELEFONO : {{ pais.telefono }} </ion-label>
                </ion-item>

            </ion-list>
        </ion-card-subtitle>
    </ion-card-content>
</ion-content>